<div class="container">
  <div class="row first-row">
    <span class="page-title">Products</span>
  </div>

  <div class="row">
    <div class="pull-right">
      <button mat-button (click)="onClickAdd()">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="add-btn"> New product</span>
      </button>
    </div>
  </div>

  <div class="row products-grid">
    <table mat-table [dataSource]="products" class="mat-elevation-z8 grid-layout">
      <ng-container matColumnDef="Actions">
        <th mat-header-cell class="actions-column default-column" *matHeaderCellDef> Actions </th>
        <td mat-cell class="actions-column default-column" *matCellDef="let element">
          <span class="glyphicon glyphicon-pencil edit-product-btn" (click)="onClickEdit(element.Id)"></span>
      </ng-container>

      <ng-container matColumnDef="Title">
        <th mat-header-cell class="id-column default-column" *matHeaderCellDef> Title </th>
        <td mat-cell class="id-column default-column" *matCellDef="let element"> {{element.Title}} </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell class="name-column default-column" *matHeaderCellDef> Description </th>
        <td mat-cell class="name-column default-column" *matCellDef="let element"> {{element.Description}} </td>
      </ng-container>

      <ng-container matColumnDef="CreateDate">
        <th mat-header-cell class="message-column default-column" *matHeaderCellDef> Date </th>
        <td mat-cell class="message-column default-column" *matCellDef="let element"> {{element.CreateDate | dateTimeFormat}} </td>
      </ng-container>

      <ng-container matColumnDef="Price">
        <th mat-header-cell class="email-column default-column" *matHeaderCellDef> Price </th>
        <td mat-cell class="email-column default-column" *matCellDef="let element"> {{element.Price.toFixed(2) + ' RON'}} </td>
      </ng-container>

      <ng-container matColumnDef="IsNew">
        <th mat-header-cell class="phone-column default-column" *matHeaderCellDef> Is New </th>
        <td mat-cell class="phone-column default-column" *matCellDef="let element"> {{element.IsNew}} </td>
      </ng-container>

      <ng-container matColumnDef="IsActive">
        <th mat-header-cell class="phone-column default-column" *matHeaderCellDef> Is Active </th>
        <td mat-cell class="phone-column default-column" *matCellDef="let element"> {{element.IsActive}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<div id="preFooter"></div>
<progress-spinner [show]="showSpinner"></progress-spinner>
