<div class="container">
  <div class="row first-row">
      <div class="col-md-12">
          <a [routerLink]="['edit', 0]" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-plus"></span>
              Add product
          </a>
      </div>
  </div>

  <div class="row text-center" *ngFor="let product of Products">
      <hr />
      <div class="col-md-1 actions-column">
        <button type="button" class="btn btn-default" (click)="onClickDeleteproduct(product.Id)" style="padding-top: 9px; float: left; margin-top: 1px; margin-left: 1px;">
            <i class="glyphicon glyphicon-shopping-cart"></i>
        </button>
      </div>
      <div class="col-md-2">
          {{ product.Nume }}
      </div>
      <div class="col-md-3">
          {{ product.Pret }}
      </div>
      <div class="col-md-2">
        {{ product.ImgUrl }}
      </div>
  </div>
  
  <div class="row">
      <hr />
  </div>

  <div class="row text-center" *ngIf="Products.length === 0">
      0 products found.
  </div>
</div>

