.products-grid {
  padding-top: 20px;
}

.edit-product-btn {
  font-size: 20px;
  cursor: pointer;
}

.add-btn {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
}

.add-btn {
  font-family: Roboto, sans-serif;
  padding-left: 5px;
}

.default-column {
  font-family: Roboto, sans-serif;
  padding-right: 10px;
}

.mat-header-cell {
  font-size: 16px;
}
