.products-grid {
  padding-top: 20px;
}

.grid-layout {
  width: 100%;
}

.edit-product-btn {
  font-size: 20px;
  cursor: pointer;
}

.add-btn {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
}
