<div class="container">
  <div class="row first-row">
    <span class="page-title">Our events</span>
  </div>

  <div class="row first-row events-header text-center">
    <div class="col-md-2">
      Start date/time
    </div>
    <div class="col-md-2">
      Title
    </div>
    <div class="col-md-5">
      Description
    </div>
    <div class="col-md-1">
      Duration
    </div>
    <div class="col-md-2">
      Address
    </div>
  </div>

  <div class="row text-center" *ngFor="let event of events">
    <hr />
    <div class="col-md-2">
      {{ event.StartDate | date : 'MMM d, y, HH:mm' }}
    </div>
    <div class="col-md-2 bold-text">
      {{ event.Title }}
    </div>
    <div class="col-md-5">
      {{ event.Description }}
    </div>
    <div class="col-md-1">
      <!--{{ event.EndDate.getHours() - event.StartDate.getHours() }}:{{
 (event.EndDate.getMinutes() - event.StartDate.getMinutes()) < 10 ?
                '0' + (event.EndDate.getMinutes() - event.StartDate.getMinutes()) : (event.EndDate.getMinutes() - event.StartDate.getMinutes())
      }}-->
    </div>
    <div class="col-md-2">
      {{ event.Address }}
    </div>
  </div>

  <div class="row">
    <hr />
  </div>

  <div class="row text-center" *ngIf="events.length === 0">
    0 events found.
  </div>
</div>
