<div class="container">
  <div class="row page-title">
    Forgot Password?
  </div>

  <div class="row forgot-password-form">
    <div class="col-md-4 col-md-offset-4">
      <form name="forgotPasswordForm" #forgotPasswordForm="ngForm" *ngIf="showForm">

        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="long-field">
              <input matInput placeholder="Email" [(ngModel)]="email" name="Email" required />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <button mat-raised-button color="primary" class="reset-button" (click)="onClickReset()">Reset</button>
          </div>
        </div>
      </form>

      <div class="row" *ngIf="!showForm">
        <div class="col-md-12">
          <span>Please check your email.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="preFooter"></div>
<progress-spinner [show]="showSpinner"></progress-spinner>
