<div class="container">
  <div class="row first-row">
    <span class="page-title">Spend your pesos here</span>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let item of products">
      <div class="new-product-box">
        <div class="new-image-box">
          <div class="row new-product-image">
            <div class="col-md-12">
              <img src="{{item.ImageUrl}}" alt="{{item.Id}}" class="new-image-style" />
            </div>
          </div>
        </div>
        <div class="new-product-info">
          <div class="new-product-des-title">
            <div class="row new-product-title">
              <div class="col-md-12">
                {{ item.Title }}
              </div>
            </div>
            <div class="row new-product-description">
              <div class="col-md-12">
                {{ item.Description }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 new-product-footer">
              <span class="new-product-price">
                <span>{{item.Price + ' RON'}}</span>
              </span>
            </div>
            <div class="col-md-4 new-product-footer">
              <span class="new-product-new">
                {{ item.IsNew ? '(new)' : ''}}
              </span>
            </div>
            <div class="col-md-4 new-product-footer">
              <button mat-raised-button type="submit" (click)="onClickAdd(item)" class="add-to-cart-btn">
                <span class="glyphicon glyphicon-shopping-cart shopping-cart-icon"></span>
                <span class="add-to-cart-btn-text">Add</span>
              </button>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>

<div id="preFooter"></div>
<progress-spinner [show]="showSpinner"></progress-spinner>
