<div class="container">
  <div class="row first-row">
    <div class="col-sm-8 shop-welcome">Spend your pesos here !</div>
    <!-- <div class="col-sm-4 shop-sort">Sort by</div> -->
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4 product-repeated" *ngFor="let item of products">
      <div class="col-md-12 new-product-box">
        <div class="new-image-box">
          <img src="{{item.ImageUrl}}" alt="{{item.Id}}" class="new-image-style" />
          <!-- <span *ngIf="item.IsNew" class="new-product-new">
            {{ item.IsNew ? 'NEW' : ''}}
          </span> -->
          <span *ngIf="item.IsNew" class="new-product-sale">
              {{ item.IsNew ? 'SALE' : ''}}
          </span>
        </div>
        <div class="new-product-info">
          <div class="new-product-des-title">
            <div class="new-product-title">
                {{ item.Title }}
            </div>
            <!-- <div class="new-product-description">
                {{ item.Description }}
            </div> -->
          </div>
          <div class="new-product-footer-group">
            <div class="new-product-footer prices-footer">
              <span class="new-product-price">
                <span class="old-price">{{item.Price + ' RON'}}</span>
                <span class="new-price">{{item.Price + ' RON'}}</span>
              </span>
            </div>
            <!-- <div class="col-xs-4 new-product-footer prices-footer">
              <span class="new-product-promo-price">
                <span>{{item.Price + ' RON'}}</span>
              </span>
            </div> -->
            <div class="new-product-footer add-to-cart-footer">
              <button mat-raised-button type="submit" (click)="onClickAdd(item)" class="add-to-cart-btn">
                <span class="glyphicon glyphicon-shopping-cart shopping-cart-icon"></span>
                <span class="add-to-cart-btn-text">Add to cart</span>
              </button>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>

<div id="preFooter"></div>
<progress-spinner [show]="showSpinner"></progress-spinner>
