.new-image-style {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.new-product-box {
  height: 455px;
  border:#fdf7f1;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 40px;
  box-shadow: 3px 6px #f8f3ec;
}

.new-image-box {
  height: 350px;
  text-align: center;
}

.add-to-cart-footer {
  padding-right: 4px;
  padding-top: 6px;
}

.new-price {
  padding-left: 15px;
}

.new-image-box:before
{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.new-product-des-title {
  text-align: center;
  height: 25px;
  border-bottom:#fdf7f1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.new-product-new{
  position: absolute;
  margin: 18px 0px 0px -56px;
}


.new-product-title {
  font-size: 15px;
  font-weight: bold;
}

.new-product-description {
  font-size: 13px;
  max-height: 36px; 
  overflow: hidden;
}

.new-product-footer-group {
  padding-top: 3px;
  text-align: center;
}

.new-product-new {
  background-color: bisque;
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
  height: 50px;
  width: 50px;
  padding-left: 3px;
  padding-top: 15px;
  opacity: 0.9;
  font-weight: bolder;
  color: orangered;
  letter-spacing: 2px;
}

.new-product-price {
  font-weight: bold;
  font-size: 15px;
}

.new-price {
  font-size: 18px;
  font-weight: bolder;
  color: #aa4c3c;
}

.shopping-cart-icon {
  padding-right: 4px;
  padding-bottom: 4px;
}

.add-to-cart-btn-text {
  font-family: Nunito Sans, sans-serif;
}

.old-price {
  text-decoration: line-through;
}

.shop-welcome {
  padding-left: 16px;
  font-weight: bolder;
  font-size: 20px;
}

.shop-sort {
  font-size: 15px;
}

.first-row {
  padding-bottom: 20px;
}