.category-box {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f0f6ea;
  text-align: center;
}

.category-text {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: Roboto, sans-serif;
}

.first-row {
  padding-top: 40px;
}

.admin-row {
  padding-top: 70px;
}
