<div class="container">
  <div class="row first-row">
    <div class="col-md-3 category-box">
      <span class="category-text">
        <span class="category-text" routerLink="/products">Edit products</span>
      </span>
    </div>

    <div class="col-md-3 col-md-offset-1 category-box">
      <span class="category-text" routerLink="/orders">Orders</span>
    </div>

    <div class="col-md-3 col-md-offset-1 category-box">
      <span class="category-text" (click)="onClickMessages()">Contact messages</span>
    </div>
  </div>

  <div class="row admin-row">
    <div class="col-md-3 category-box">
      <span class="category-text">
        <span class="category-text" routerLink="/edit-events">Edit events</span>
      </span>
    </div>

    <div class="col-md-3 col-md-offset-1 category-box">
      <span class="category-text">
        <span class="category-text" routerLink="/edit-portfolio">Edit portfolio</span>
      </span>
    </div>
  </div>
</div>
