<div class="footer-bar">
    <div class="container">
        <div class="row footer-content">
            <div class="col-md-8 footer-social">
                <a href="https://www.facebook.com"><span>Facebook</span></a>
                <a href="https://www.instagram.com"><span>Instagram</span></a>
                <a href="https://overthinkthis000.tumblr.com"><span>Tumblr</span></a>
                <a href="https://www.patreon.com"><span>Patreon</span></a>
                <a href="https://society6.com"><span>Society6</span></a>
            </div>
            <div class="col-md-4 footer-copyright">
                <span>© Copyright 2018. All Rights Reserved.</span>
            </div>
        </div>
    </div>
</div>    