.footer-bar {
    background-color: #847d73;
    border: 1px solid transparent;
    line-height: 80px;
    font-family: Nunito Sans, sans-serif;
    font-weight: 200;
}

.footer-copyright {
    color: beige;
    text-align: center;
}

.footer-social {
    color: beige;
    display: flex;
    justify-content: space-evenly;
}

.footer-social > a {
    padding-right: 10px;
    text-decoration: none;
    color: beige;
    -webkit-transition: color 0.2s, font-size 0.2s;
    transition: color 0.2s, font-size 0.2s ease-in;
}

.footer-social > a:hover {
    font-size: 15px;
}
