.subscribe-email {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    min-width: 280px;
    background-color: transparent;
    color: #847d73;
    height: 38px;
    font-size: 18px;
}

.text-center-title {
    padding-top: 15px;
    font-size: 30px;
}

.text-center-text {
    padding-top: 10px;
    font-size: 18px;
}

.text-center-email {
    padding-top: 10px;
    display: inline-flex;
    font-family: Montserrat, sans-serif;
}

.mat-form-field-underline {
    color: darkslategray;
}

.mat-form-field {
    font-family: Nunito Sans, sans-serif;
}

.mat-form-field-invalid .mat-form-field-placeholder {
    color: darkslategray;
    font-family: Montserrat, sans-serif;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
    background-color: transparent;
    font-family: Nunito Sans, sans-serif;
    font-weight: 200;
    background-color: transparent;
}

.mat-raised-button {
    border-radius: 4px;
    font-family: Nunito Sans, sans-serif;
}

.mat-error {
    color: darkslategray;
    font-family: Nunito Sans, sans-serif;
}

.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #333;
    font-family: Nunito Sans, sans-serif;
}