<div class="container">
    <!--<div class="first-row">
        <app-page-title title="About us"></app-page-title>
    </div>-->

    <div class="row about-box-group">
        <div class="col-md-4 about-box" style="background-image: url(../../assets/images/about-helping.jpg);">
            <div class="about-box-content">
                <span class="about-box-title">How We're Helping</span>
                <span class="about-box-description">
                    We are a nonprofit organization focused on helping make the world around us a better, happier place. With the help of our tireless staff, we organize fundraisers, community-building events, and in-depth training sessions for our volunteers.
                </span>
            </div>
        </div>
        <div class="col-md-4 about-box" style="background-image: url(../../assets/images/about-donation.jpg);">
            <div class="about-box-content">
                <span class="about-box-title">Get Involved</span>
                <span class="about-box-description">
                    Are you passionate about what we're doing? Let us know! We are always looking for volunteers to help us make our vision a reality. We'll help you find a way to volunteer that best suits you. We're excited to have you join the team!
                </span>
            </div>
        </div>
        <div class="col-md-4 about-box" style="background-image: url(../../assets/images/about-volunteer.jpg);">
            <div class="about-box-content">
                <span class="about-box-title">Thank You</span>
                <span class="about-box-description">
                    Whether you help through monetary donations, volunteering your time, or spreading our mission through word-of-mouth, thank you. We couldn't accomplish our goals without the help of supporters like you.
                </span>
            </div>
        </div>
    </div>

    <div class="row donate-box">
        <div class="col-md-6">
            <app-donate-now></app-donate-now>
        </div>
        <div class="col-md-6">
            <app-keep-in-touch></app-keep-in-touch>
        </div>
    </div>
</div>
