.about-box-group {

    padding-top: 80px;
    font-family: Nunito Sans, sans-serif;
}


.about-box-text {
    min-height:400px;
}


.about-box-photo {
    height:400px;
}


.about-box-content {
    padding-left: 15px;
    padding-right: 10px;
}


.about-name {
    padding-top: 30px;
    font-weight: bold;
}


.about-job {
    padding-top:10px;
    font-weight: 200;
}


.about-description {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}
