<div class="container">
  <div class="row first-row">
    <span class="page-title">Portfolio</span>
  </div>

  <div class="row">
    <mat-expansion-panel class="demo-expansion-width" #arch (click)="onClickPanel(arch)" [expanded]="true">
      <mat-expansion-panel-header [expandedHeight]="expandedHeight" [collapsedHeight]="collapsedHeight">
        <mat-panel-title>
          {{archPanel.Title}}
        </mat-panel-title>
        <mat-panel-description>
          {{archPanel.Description}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        {{archPanel.Content}}
      </ng-template>

      <mat-action-row>
        <button mat-button (click)="arch.expanded = false">Close</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>

  <div class="row panel-padding">
    <mat-expansion-panel class="demo-expansion-width" #illust>
      <mat-expansion-panel-header [expandedHeight]="expandedHeight" [collapsedHeight]="collapsedHeight">
        <mat-panel-title>
          {{illustPanel.Title}}
        </mat-panel-title>
        <mat-panel-description>
          {{illustPanel.Description}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        {{illustPanel.Content}}
      </ng-template>

      <mat-action-row>
        <button mat-button (click)="illust.expanded = false">Close</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>

  <div class="row panel-padding">
    <mat-expansion-panel class="demo-expansion-width" #design>
      <mat-expansion-panel-header [expandedHeight]="expandedHeight" [collapsedHeight]="collapsedHeight">
        <mat-panel-title>
          {{designPanel.Title}}
        </mat-panel-title>
        <mat-panel-description>
          {{designPanel.Description}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        {{designPanel.Content}}
      </ng-template>

      <mat-action-row>
        <button mat-button (click)="design.expanded = false">Close</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
</div>

<div id="preFooter"></div>
<progress-spinner [show]="showSpinner"></progress-spinner>
