<div class="container">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" [(ngModel)]="model.Name" #Name name="Name" class="form-control" maxlength="64" required />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" [(ngModel)]="model.Email" name="Email" class="form-control" maxlength="64" required />
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" [(ngModel)]="model.Phone" name="Phone" class="form-control" maxlength="64" />
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea [(ngModel)]="model.Message" name="Message" class="form-control message-input" rows="3" maxlength="256" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success pull-right" (click)="onClickSend()">Send</button>
                </div>
                <br />
                <br />
            </div>

            <div class="col-md-4 col-md-offset-1 contact-address">
                <div class="row">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <br />
                    <span>Bulevardul Ion C. Bratianu 12</span>
                    <br />
                    <span>Bucharest, Romania</span>
                    <br />
                    <br />
                    <i class="glyphicon glyphicon-earphone"></i>
                    <br />
                    <span>(+40) 748 087 002</span>
                    <br />
                    <br />
                    <i class="glyphicon glyphicon-envelope"></i>
                    <br />
                    <span>letsplantatreeNGO@gmail.com</span>
                    <br />
                    <br />
                    <i class="glyphicon glyphicon-calendar"></i>
                    <br />
                    <div class="row">
                        <div class="col-md-2 col-md-offset-3">Mon</div><div class="col-md-5">9:00 am - 5:00 pm</div>
                        <div class="col-md-2 col-md-offset-3">Tue</div><div class="col-md-5">9:00 am - 5:00 pm</div>
                        <div class="col-md-2 col-md-offset-3">Wed</div><div class="col-md-5">9:00 am - 5:00 pm</div>
                        <div class="col-md-2 col-md-offset-3">Thu</div><div class="col-md-5">9:00 am - 5:00 pm</div>
                        <div class="col-md-2 col-md-offset-3">Fri</div><div class="col-md-5">9:00 am - 5:00 pm</div>
                        <div class="col-md-2 col-md-offset-3">Sat</div><div class="col-md-5">9:00 am - 1:00 pm</div>
                        <div class="col-md-2 col-md-offset-3">Sun</div><div class="col-md-5">Closed</div>
                    </div>
                </div>
            </div>
        </div>
</form>
</div>
