<form name="contactForm" #contactForm="ngForm">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="form-title">
          <span class="glyphicon glyphicon-send"></span>
          Leave a message
        </div>
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="model.Name" name="Nume">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="model.Email" name="Email" [formControl]="email" required />
          <mat-error *ngIf="email.invalid">
            {{getErrorMessage(email)}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Phone" [(ngModel)]="model.Phone" name="Phone">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <textarea matTextareaAutosize matAutosizeMinRows=7 matAutosizeMaxRows=100 matInput placeholder="Say your thing" required [(ngModel)]="model.Message" name="Message"></textarea>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button mat-raised-button type="submit" color="primary" (click)="onClickSend(contactForm)">Send</button>
      </div>
      <br />
      <br />
    </div>
  </div>
</form>

<div id="preFooter"></div>
<progress-spinner [show]="showSpinner"></progress-spinner>
