<div class="container">
  <div class="row first-row">
    <span class="page-title">Received messages</span>
  </div>

  <div class="row message-grid">
    <table mat-table [dataSource]="messages" class="mat-elevation-z8" style="width: 100%;">
      <ng-container matColumnDef="Id">
        <th mat-header-cell class="id-column default-column" *matHeaderCellDef> Id. </th>
        <td mat-cell  class="id-column default-column" *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>

      <ng-container  matColumnDef="Name">
        <th mat-header-cell  class="name-column default-column" *matHeaderCellDef> Name </th>
        <td mat-cell  class="name-column default-column" *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell  class="email-column default-column" *matHeaderCellDef> Email </th>
        <td mat-cell class="email-column default-column" *matCellDef="let element"> {{element.Email}} </td>
      </ng-container>

      <ng-container matColumnDef="Phone">
        <th mat-header-cell class="phone-column default-column" *matHeaderCellDef> Phone </th>
        <td mat-cell class="phone-column default-column" *matCellDef="let element"> {{element.Phone}} </td>
      </ng-container>

      <ng-container matColumnDef="CreateDate">
          <th mat-header-cell class="date-column default-column" *matHeaderCellDef> Date </th>
          <td mat-cell class="date-column default-column" *matCellDef="let element"> {{element.CreateDate | dateTimeFormat}} </td>
      </ng-container>

      <ng-container matColumnDef="Message">
        <th mat-header-cell class="message-column default-column" *matHeaderCellDef> Message </th>
        <td mat-cell class="message-column default-column" *matCellDef="let element"> {{element.Message}} </td>
      </ng-container>

      <ng-container matColumnDef="Answer">
        <th mat-header-cell class="answer-column default-column" *matHeaderCellDef> Answer </th>
        <td mat-cell class="answer-column default-column" *matCellDef="let element"> {{element.Answer}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell class="actions-column default-column" *matHeaderCellDef> Actions </th>
        <td mat-cell class="actions-column default-column" *matCellDef="let element">
          <button mat-raised-button type="submit" *ngIf="!element.HasAnswer" (click)="onClickReply(element.Id)">Reply</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<progress-spinner [show]="showSpinner"></progress-spinner>
