.content {
  min-height: calc(100vh - 75px);
  padding-top: 75px;
  width: stretch;
}

.content-inside{
    padding-bottom: 50px;
}

@media (min-width: 1200px) {
  .container{
    width: stretch;
  }
}