
<form name="eventDialog" #eventDialogForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title">Event detail</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" [(ngModel)]="model.Title" name="Title" required />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="full-width">
        <textarea matTextareaAutosize matAutosizeMinRows=7 matAutosizeMaxRows=100 matInput
                  [(ngModel)]="model.Description" name="Description" placeholder="Description" required></textarea>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput placeholder="Address" [(ngModel)]="model.Address" name="Address" required />
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <input matInput [matDatepicker]="StartDate" name="StartDate" placeholder="Start Date" [(ngModel)]="startDate" 
                 (dateInput)="onChangeStartDate('input', $event)" (dateChange)="onChangeStartDate('change', $event)" required />
          <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
          <mat-datepicker #StartDate></mat-datepicker><!--touchUi="true"-->
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field>
          <input matInput [matDatepicker]="EndDate" name="EndDate" placeholder="End Date" [(ngModel)]="endDate"
                 (dateInput)="onChangeEndDate($event)" (dateChange)="onChangeEndDate($event)" required />
          <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
          <mat-datepicker #EndDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-4">        
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="time-box">
            <input matInput placeholder="Start Time" [(ngModel)]="startTime" name="StartTime" (change)="onChangeStartTime()" maxlength="5" required />
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="time-box">
            <input matInput placeholder="End Time" [(ngModel)]="endTime" name="EndTime" (change)="onChangeEndTime()" maxlength="5" required />
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Duration:</label>
          {{model.Duration}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Create Date:</label>
          {{model.CreateDate | dateTimeFormat}}
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Update Date:</label>
          {{model.UpdateDate | dateTimeFormat}}
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <mat-checkbox color="primary" [(ngModel)]="model.IsActive" name="IsActive">
            <label>Is Active</label>
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button mat-raised-button color="primary" (click)="onClickSave()">Save</button>
    <button mat-button (click)="onClickCancel()">Cancel</button>
  </div>
</form>

<progress-spinner [show]="showSpinner"></progress-spinner>
