<div class="jumbotron jumbo-height">
    <div class="row text-center">
        <span class="donate-title">Donate now</span>
    </div>

    <div class="row donate-description">
        <span>Your generous gift will help us fund our mission to help those in need. Together, we can make a difference.</span>
    </div>

    <div class="row text-center donate-button">
        <button type="button" class="btn btn-success" (click)="onClickDonate()">
            <img src="../../../assets/images/pay-pal.png" alt="donate now" class="donate-image" />
            <span class="donate-button-text">Donate</span>
        </button>
    </div>

    <div class="row text-center donate-payment-method">
        <img src="../../../assets/images/pay-pal-debit-card.png" alt="donate now" />
    </div>
</div>
