<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            About us
        </div>
        <div class="col-md-4">
        </div>
    </div>
    
    <div class="row">
        <hr class="black-hr" />
    </div>

    <div class="row aboutus-bubbles">
        <div class="col-md-4 text-center first-row">
            <div class="row">
                <img src="../../../assets/images/aboutus-1.jpg" alt="aboutus-first-image" class="img-circle" />    
            </div>
            <div class="row aboutus-bubbles-title first-row">
                Architecture
            </div>
            <div class="row aboutus-bubbles-text">
                An architect is a person who plans, designs, and reviews the construction of buildings. To practice architecture means to provide services in connection with the design of buildings and the space within the site surrounding the buildings, that have as their principal purpose human occupancy or use. 
            </div>
        </div>
        <div class="col-md-4 text-center first-row">
            <div class="row">
                <img src="../../../assets/images/aboutus-2.jpg" alt="aboutus-second-image" class="img-circle" />
            </div>
            <div class="row aboutus-bubbles-title first-row">
                Interior Design
            </div>
            <div class="row aboutus-bubbles-text">
                Interior design is the art and science of enhancing the interior of a building to achieve a healthier and more aesthetically pleasing environment for the people using the space. An interior designer is someone who plans, researches, coordinates, and manages such projects
            </div>
        </div>
        <div class="col-md-4 text-center first-row">
            <div class="row">
                <img src="../../../assets/images/aboutus-3.jpg" alt="aboutus-third-image" class="img-circle" />
            </div>
            <div class="row aboutus-bubbles-title first-row">
                Illustration
            </div>
            <div class="row aboutus-bubbles-text">
                An illustrator is an artist who specializes in enhancing writing or elucidating concepts by providing a visual representation that corresponds to the content of the associated text or idea.  The illustration may be intended to clarify complicated concepts or objects that are difficult to describe textually.  
            </div>
        </div>
    </div>
</div>
