<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            About us
        </div>
        <div class="col-md-4">
        </div>
    </div>
    
    <div class="row">
        <hr class="black-hr" />
    </div>

    <div class="row aboutus-bubbles">
        <div class="col-md-4 text-center first-row">
            <div class="row">
                <img src="../../../assets/images/aboutus-1.jpg" alt="aboutus-first-image" class="img-circle" />    
            </div>
            <div class="row aboutus-bubbles-title first-row">
                Get ready!
            </div>
            <div class="row aboutus-bubbles-text">
                We'll do the research and keep you posted with info on all local events. 
            </div>
        </div>
        <div class="col-md-4 text-center first-row">
            <div class="row">
                <img src="../../../assets/images/aboutus-2.jpg" alt="aboutus-second-image" class="img-circle" />
            </div>
            <div class="row aboutus-bubbles-title first-row">
                Set!
            </div>
            <div class="row aboutus-bubbles-text">
                We'll do all the heavy lifting - pun intended. You just show up and put those green fingers to work.
            </div>
        </div>
        <div class="col-md-4 text-center first-row">
            <div class="row">
                <img src="../../../assets/images/aboutus-3.jpg" alt="aboutus-third-image" class="img-circle" />
            </div>
            <div class="row aboutus-bubbles-title first-row">
                Grow!
            </div>
            <div class="row aboutus-bubbles-text">
                We'll track growth progress and regularly check in on our growing buds. 
            </div>
        </div>
    </div>
</div>
