<div class="container">
    <div class="jumbotron contact-header">
        <div class="container">
            <span class="contact">CONTACT</span>
            <br/>
            <br/>
            <span class="help">
                We'd
                <span class="glyphicon glyphicon-heart-empty">
                </span>
                to help
            </span>
            <br/>
            <br/>
            <span class="help-text">
                Got something on your mind? Questions? Suggestions? Drop us a line.
            </span>
        </div>
    </div>
</div>
