<div class="container">
    <div class="row first-row">
        <div class="col-md-12 bold-text">
            {{ firstDate | date : 'MMM d, y' }}            
        </div>
    </div>

    <div class="row gallery-row">
        <div class="col-md-4">
            <img src="../../assets/images/gallery/plant-1.jpg" class="img-responsive img-thumbnail" alt="plant-1" />
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/gallery/plant-2.jpg" class="img-responsive img-thumbnail" alt="plant-2" />
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/gallery/plant-3.jpg" class="img-responsive img-thumbnail" alt="plant-3" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 bold-text">
            {{ secondDate | date : 'MMM d, y' }}
        </div>
    </div>

    <div class="row gallery-row">
        <div class="col-md-4">
            <img src="../../assets/images/gallery/plant-4.jpg" class="img-responsive img-thumbnail" alt="plant-4" />
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/gallery/plant-5.jpg" class="img-responsive img-thumbnail" alt="plant-5" />
        </div>
    </div>

    <div class="row first-row">
        <div class="col-md-12 bold-text">
            {{ thirdDate | date : 'MMM d, y' }}
        </div>
    </div>

    <div class="row gallery-row">
        <div class="col-md-4">
            <img src="../../assets/images/gallery/plant-7.jpg" class="img-responsive img-thumbnail" alt="plant-7" />
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/gallery/plant-8.jpg" class="img-responsive img-thumbnail" alt="plant-8" />
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/gallery/plant-9.jpg" class="img-responsive img-thumbnail" alt="plant-9" />
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/gallery/plant-6.jpg" class="img-responsive img-thumbnail" alt="plant-6" />
        </div>
    </div>
</div>
