<div class="row">
  <form name="messagesForm" #messagesForm="ngForm">
    
    <div class="modal-header">
      <h4 class="modal-title">        
      </h4>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label>Name:</label>
        {{ model.Name }}
      </div>

      <div class="form-group">
        <label>Email:</label>
        {{ model.Email }}
      </div>

      <div class="form-group">
        <label>Phone:</label>
        {{ model.Phone }}
      </div>

      <div class="form-group">
        <label>Create Date:</label>
        {{ model.CreateDate | dateTimeFormat }}
      </div>

      <!--<div class="form-group">
        <label>Update Date: </label>
        {{ model.UpdateDate | dateTimeFormat }}
      </div>-->      

      <div class="form-group">
        <label>Message:</label>
        {{ model.Message }}
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <textarea matTextareaAutosize matAutosizeMinRows=7 matAutosizeMaxRows=100 matInput placeholder="Answer" required [(ngModel)]="model.Answer" name="Answer"></textarea>
        </mat-form-field>
      </div>

      <div class="modal-footer form-group">
          <button mat-raised-button color="primary" (click)="onClickReply()">Reply</button>
          <button mat-button (click)="onClickCancel()">Cancel</button>
      </div>
      
    </div>
  </form>
</div>

<progress-spinner [show]="showSpinner"></progress-spinner>
