<div class="container">
  <div class="row first-row">
    <span class="page-title">Checkout</span>
  </div>

  <div class="row first-row" *ngFor="let item of items">
    <div class="col-md-3">
      <img src="../../assets/images/shop/gaina3.jpg" alt="{{item.Id}}" class="product-img" />
    </div>
    <div class="col-md-2">
      <span class="product-title">
        {{item.ProductTitle}}
      </span>
    </div>
    <div class="col-md-3">
      {{item.ProductDescription}}
    </div>
    <div class="col-md-2">
      {{item.Quantity}} x {{item.Price}} RON
    </div>
    <div class="col-md-2">
      <input type="button" value="Delete" />
    </div>
  </div>

  <div class="row first-row">
    <div class="col-md-3">
      <button mat-raised-button type="submit" (click)="clearCart()">
        <span class="add-to-cart-btn-text">Anulare</span>
      </button>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
      <span class="total-text">Total: {{totalAmount}} RON</span>
    </div>
  </div>
</div>

<progress-spinner [show]="showSpinner"></progress-spinner>
