<div class="container">
    <div class="row first-row">
        <app-breadcrumb [path]="getBreadcrumbPath()"></app-breadcrumb>
    </div>

    <form class="edit-event-form">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Start date*</label>
                    {{ model.StartDate | date : 'MMM d, y, HH:mm' }}
                    <!--<ngx-datepicker [(ngModel)]="model.StartDate" name="StartDate"></ngx-datepicker>-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>End date*</label>
                    {{ model.EndDate | date : 'MMM d, y, HH:mm' }}
                    <!--<ngx-datepicker [(ngModel)]="model.EndDate" name="EndDate"></ngx-datepicker>-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Title*</label>
                    <input type="text" [(ngModel)]="model.Title" name="Title" #Title="ngModel" class="form-control" maxlength="64" required />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Description</label>
                    <textarea [(ngModel)]="model.Description" name="Description" #Description="ngModel" class="form-control" rows="4" cols="96" maxlength="256" required></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address*</label>
                    <input type="text" [(ngModel)]="model.Address" name="Address" #Address="ngModel" class="form-control" maxlength="64" required />
                </div>
            </div>
        </div>

        <div class="row first-row">
            <div class="col-md-12">
                <input type="button" class="btn btn-success" (click)="onClickSave()" value="Save" />
                <input type="button" class="btn btn-default" (click)="onClickCancel()" value="Cancel" />
            </div>
        </div>
    </form>
</div>
