<nav class="navbar navbar-default navbar-static-top app-navbar">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse app-navbar-links">
            <div class="nav navbar-nav app-navbar-list">
                <span class="{{ getNavItemClass('home') }} navbar-item">
                    <a routerLink="home">Home</a>
                </span>
                <span class="{{ getNavItemClass('products') }} navbar-item">
                    <a routerLink="products">Shop</a>
                </span>
                <span class="{{ getNavItemClass('event') }} navbar-item">
                    <a routerLink="event">Events</a>
                </span>
                <span class="{{ getNavItemClass('gallery') }} navbar-item">
                    <a routerLink="gallery">Portfolio</a>
                </span>
                <span class="{{ getNavItemClass('about') }} navbar-item">
                    <a routerLink="about">About</a>
                </span>
                <span class="{{ getNavItemClass('contact') }} navbar-item">
                    <a routerLink="contact">Contact</a>
                </span>
            </div>
        </div>
    </div>
</nav>

