.app-navbar {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    background-color: white;
    margin-bottom: 0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar-item {
    cursor: pointer;
}

.navbar-nav > span > a {
    margin-top: 1px;
    color: #23282D;
    text-decoration: none;
}

.navbar-default .navbar-nav > .active > a {
    background-color: white;
}


.app-navbar-container {
    min-height: 80px;
}

.app-navbar-list {
    padding-top: 53px;
    padding-bottom: 5px;
    margin: auto;
    text-align: right;
}

.navbar-item {
    padding-left: 8px;
    padding-right: 8px;
}

.app-navbar-logo {
    padding-top: 15px;
    padding-bottom: 5px;
}