.app-navbar {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    background-color: white;
    margin-bottom: 0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    min-height: 80px;
}

.navbar-item {
    cursor: pointer;
}

.navbar-collapse > span > a {
    margin-top: 1px;
    color: #23282D;
    text-decoration: none;
}

.navbar-default .navbar-collapse > .active > a {
    background-color: beige;
}

.app-navbar-container {
    min-height: 80px;
}

.app-navbar-list {
    display: block;
    padding-top: 53px;
    padding-bottom: 5px;
    margin: auto;
    display: flex; justify-content: flex-end;
}

.navbar-item {
    padding-left: 8px;
    padding-right: 8px;
}

.app-navbar-logo {
    padding-top: 15px;
    padding-bottom: 5px;
}

button {
    border: none;
    background: none;
    text-decoration: none;
    text-align: center;
    align-items:flex-start;
}

button:focus {outline:0;}