<nav class="navbar navbar-inverse navbar-static-top app-navbar">
    <div class="container">
        <div class="navbar-header app-navbar-logo">
            <button type="button" class="navbar-toggle collapsed nav-button" data-toggle="collapse" 
                data-target="#navbar-item-list" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <a routerLink="home">
                <img src="../../../assets/images/logo.png" alt="GAINARIE" width="80" height="60">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-item-list">
            <ul class="nav navbar-nav navbar-right app-navbar-list">
                <li>
                    <span class="{{ getNavItemClass('home') }} navbar-item">
                        <a routerLink="home">Home</a>
                    </span>
                </li>
                <li>
                    <span class="{{ getNavItemClass('shop') }} navbar-item">
                        <a routerLink="shop">Shop</a>
                    </span>
                </li>
                <li>
                    <span class="{{ getNavItemClass('event') }} navbar-item">
                        Events
                    </span>
                </li>
                <li>
                    <span class="{{ getNavItemClass('gallery') }} navbar-item">
                        Portfolio
                    </span>
                </li>
                <li>
                    <span class="{{ getNavItemClass('about') }} navbar-item">
                        <a routerLink="about">About</a>
                    </span>
                </li>
            
                <li>
                    <span class="{{ getNavItemClass('contact') }} navbar-item">
                        <a routerLink="contact">Contact</a>
                    </span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-shopping-cart shopping-cart"></span>
                    <span>(0)</span>
                </li>
            </ul>
        </div>
    </div>
</nav>
