.app-navbar {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    background-color: white;
    margin-bottom: 0;
}

.navbar-item {
    cursor: pointer;
}

.navbar-nav > span > a {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    margin-top: 1px;
    color: #23282D;
    text-decoration: none;
}

.navbar-default .navbar-nav > .active > a {
    background-color: white;
}


.app-navbar-container {
    min-height: 100px;
}

.app-navbar-list {
    padding-top: 65px;
    margin: auto;
    text-align: right;
}

.navbar-item {
    padding-left: 8px;
    padding-right: 8px;
}

.app-navbar-logo {
    padding-top: 20px;
}