<div class="container">
  <div class="row align-content error-img">
    <div class="col-md-12">
      <img src="../../assets/images/error.jpg" alt="error" />
    </div>
  </div>

  <div class="row align-content forofor">
    <div class="col-md-12">
      <span>
        404
      </span>
    </div>
  </div>

  <div class="row align-content">
    <div class="col-md-12">
      <span class="not-found-text">
        This page is missing.
      </span>
    </div>
  </div>

  <div class="row align-content back-home">
    <div class="col-md-12">
      <input type="button" class="btn btn-primary home-btn" value="BACK HOME" (click)="onClickBackHome()" />
    </div>
  </div>
</div>
