@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/font-awesome/css/font-awesome.css";


@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200i,300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');



@-ms-viewport{
    width: device-width;
  }

body {
    font-family: 'Montserrat', sans-serif !important;
    min-width: 344px;
}

.jumbotron {
    background-color: #f7f7f7 !important;
}

.first-row {
    padding-top: 20px;
}

.black-hr {
    border-color: black;
}

.bold-text {
    font-weight: 200;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
}