@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/font-awesome/css/font-awesome.css";


@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Nunito+Sans');

@font-face {
    src: url('assets/fonts/SourceSansPro-Semibold.otf');
    font-family: 'Source Sans Pro Semibold'
}

@font-face {
    src: url('assets/fonts/Istok-Regular.ttf');
    font-family: 'Istok Regular'
}

@font-face {
    src: url('assets/fonts/Istok-Bold.ttf');
    font-family: 'Istok Bold'
}

@font-face {
    src: url('assets/fonts/Istok-Italic.ttf');
    font-family: 'Istok Italic'
}

@font-face {
    src: url('assets/fonts/Istok-BoldItalic.ttf');
    font-family: 'Istok BoldItalic'
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

.jumbotron {
    background-color: #f7f7f7 !important;
}

.first-row {
    padding-top: 20px;
}

.black-hr {
    border-color: black;
}

.bold-text {
    font-weight: 200;
}


