.full-width {
    width: 100vw;
    position: relative;
    left: 49.298%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.home-body {
    padding-bottom: 10px;
}

.home-body-text {
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.home-body-title {
    font-size: 50px;
}

.home-body-text1 {
    padding-top: 10px;
    text-align: justify;
    font-size: 18px;
}

.home-body-text2 {
    padding-top: 10px;
    text-align: justify;
    font-size: 18px;
}

.home-body-button{
    padding-bottom: 10px;
    padding-right: 10px;
}

.home-body-button  >a  {
    text-decoration: none;
    color: #333333;
}

.home-subscribe {
    /* background-image: url(../../assets/images/subscribe-row.jpg); */
    background-color: #f6efea;
    background-position: center;
    width: 1920px;
    height: 200px;
    padding-top: 20px;
}

.home-aboutus {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 36px; 
}

