.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.home-body {
    margin-top: 20px;
    background-color: inherit !important;
}

.home-subscribe {
    /* background-image: url(../../assets/images/subscribe-row.jpg); */
    background-color: #ecdfd4;
    background-position: center;
    width: 1920px;
    height: 220px;
}

.home-aboutus {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 36px; 
}

