<div class="container-fluid hompeage-slider-container">
    <div class="row homepage-slider">
        <slideshow [imageUrls]="imageUrlArray" [height]="height" [minHeight]="'525px'" 
            [autoPlay]="true" [showArrows]="true" [showDots]="true" [autoPlayInterval]="2300">
        </slideshow>
    </div>
</div>

<div class="container">
    <div class="row home-body">
        <div class="row home-body-text">
            <div class="col-xs-12 home-body-title">Here's the thing</div>
            <div class="col-xs-12 home-body-text1">
                Many people take great comfort in the bathroom towels being the same color as the soap, toilet paper, and tiles. It means there is a connection between them, and an environment of order. Home is a place not only of comfort, but of control. This sense of order, in whatever form it takes, acts as a shield against the unpredictability and lurking chaos of the outside world.
            </div>
            <div class="col-xs-12 home-body-text2">
                My work is an examination of the different forms this shield takes, and the thinking that lies behind it. I use domestic objects as the common denominators of our personal environment. Altering them is a way of questioning the attitudes, fears and unwritten rules which have formed that environment and our behavior within it.
            </div>
        </div>
        <div class="button-row pull-right home-body-button">
            <a mat-raised-button routerLink="/contact">Let's Talk</a>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="container-fluid img-responsive home-subscribe">
        <div class="row">
            <div class="col-md-12">
                <app-subscribe></app-subscribe>
            </div>
        </div>
    </div>
</div>
<div class="container home-aboutus">
    <div class="row">
        <app-about-us></app-about-us>
    </div>
</div>
