<div class="full-width text-center">
    <div class="container-fluid img-responsive home-header">
        <div class="row home-header-top">
            <div class="col-md-12">
                <span class="home-header-title">Let's plant a tree,</span>
                <br />
                <span class="home-header-title">it will make a difference!</span>
            </div>
        </div>
        <div class="row home-header-text">
            <div class="col-md-12">
                <span>46-58 thousand square miles of forest are lost every year.</span>
                <br />
                <span>That's equivalent to 36 football fields every minute.</span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron home-body">
        <span style="font-size: 50px;">Volunteer to Help</span>
        <p>
            The removal of trees without sufficient reforestation has had adverse impacts on bio-sequestration of atmospheric carbon dioxide,
            along with damage to habitat, biodiversity loss, and aridity. Tropical forest destruction accounts for about 20 percent of current
            greenhouse gas emissions, if forests are destroyed through logging or burning, their carbon is released into the atmosphere as 
            carbon dioxide, a climate-changing greenhouse gas.
        </p>
        <p>
            We're proud of the thousands of trees we have been responsible for planning through donations and we'll continue planting more of them.
        </p>
        <span class="pull-right">
            <a routerLink="/contact/true" class="btn btn-lg btn-success">GET INVOLVED</a>
        </span>
        <br />
        <br />
    </div>
</div>
<div class="full-width text-center">
    <div class="container-fluid img-responsive home-subscribe">
        <div class="row">
            <div class="col-md-12">
                <app-subscribe></app-subscribe>
            </div>
        </div>
    </div>
</div>
<div class="container home-aboutus">
    <div class="row">
        <app-about-us></app-about-us>
    </div>
</div>
